<h1>Maps#index</h1>
<p>Find me in app/views/maps/index.html.erb</p>




<div style='width: 800px;'>
  <div id="poop" style='width: 800px; height: 400px;'></div>
</div>
<form id="launcherator">
  <input type="submit" value="submit shapes">
</form>
<div id="results">oldscar</div>
<input type="radio" onclick="layerName='freudster';
                            drawingManager.polygonOptions.fillColor = '#ffff00';"/>
<input type="radio" onclick="layerName='OtherThing';
                            drawingManager.polygonOptions.fillColor = '#ff00ff';
                            drawingManager.polygonOptions.fillOpacity = 0.7;"/>

<script>
function initialize() {
  shapes = new Array();

  layerName = "fredster"

  var mapOptions = {
    center: new google.maps.LatLng(26.555480, -80.075526),
    zoom: 21,
    mapTypeId: google.maps.MapTypeId.SATELLITE
  };

  var map = new google.maps.Map(document.getElementById('poop'),
    mapOptions);

  drawingManager = new google.maps.drawing.DrawingManager({
    drawingMode: google.maps.drawing.OverlayType.POLYGON,
    drawingControl: true,
    drawingControlOptions: {
      position: google.maps.ControlPosition.TOP_CENTER,
      drawingModes: [
        google.maps.drawing.OverlayType.POLYGON
      ]
    },
    polygonOptions: {
      fillColor: '#ffff00',
      fillOpacity: 0.15,
      strokeWeight: 5,
      clickable: false,
      editable: true,
      zIndex: 1
    }
  });
  drawingManager.setMap(map);
  var my_longlat_array = new Array();

	google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
    thing = event
    console.log('HI THERE')
    console.log(drawingManager.polygonOptions)

    shapeArr = []
    event.overlay.getPath().forEach(function(latLng){shapeArr.push(latLng.toString())})

    slarr = {points:shapeArr,name:layerName}
    shapes.push(slarr)
    console.log(JSON.stringify(shapes));
    $("#results").text(JSON.stringify(shapes));
    // $.post("/maps.js",{klag:JSON.stringify(shapes)},"json");
  });

}
google.maps.event.addDomListener(window, 'load', initialize);

$( "#launcherator" ).submit(function( event ) {
  alert('it work')
  $.post("/maps.js",{klag:shapes},"json");
});


</script>
<p> hello<p>