<h1>Maps#index</h1>
<p>Find me in app/views/maps/index.html.erb</p>




<div style='width: 800px;'>
  <div id="poop" style='width: 800px; height: 400px;'></div>
</div>
<%= button_to "Push Me", "maps/create", :method=>:post %>
<div id="results"></div>

<script>
function initialize() {
  var mapOptions = {
    center: new google.maps.LatLng(26.555480, -80.075526),
    zoom: 21,
    mapTypeId: google.maps.MapTypeId.SATELLITE
  };

  var map = new google.maps.Map(document.getElementById('poop'),
    mapOptions);

  var drawingManager = new google.maps.drawing.DrawingManager({
    drawingMode: google.maps.drawing.OverlayType.MARKER,
    drawingControl: true,
    drawingControlOptions: {
      position: google.maps.ControlPosition.TOP_CENTER,
      drawingModes: [
        google.maps.drawing.OverlayType.MARKER,
        google.maps.drawing.OverlayType.CIRCLE,
        google.maps.drawing.OverlayType.POLYGON,
        google.maps.drawing.OverlayType.POLYLINE,
        google.maps.drawing.OverlayType.RECTANGLE
      ]
    },
    circleOptions: {
      fillColor: '#ffff00',
      fillOpacity: 1,
      strokeWeight: 5,
      clickable: false,
      editable: true,
      zIndex: 1
    }
  });
  drawingManager.setMap(map);
  var my_longlat_array = new Array();

	google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
    console.log('HI THERE')
    shapeArr = []
    event.overlay.getPath().forEach(function(latLng){shapeArr.push(latLng.toString());})

    slarr = shapeArr.toString()
    console.log(shapeArr);
    console.log("poop");
    $.post("/maps/new.js",slarr,"json");
  });

}
google.maps.event.addDomListener(window, 'load', initialize);


</script>
<p> hello<p>