<h1>PLACE FOR MAPPINGKS</h1>

<% if @polystr %>
  IT WAS FROG
  <%= content_tag :div, class: "include_information", data: {included: @polystr.coords} do %>
  <% end %>
  <%= content_tag :div, class: "exclude_information", data: {excluded: @polystr.exclusions} do %>
  <% end %>
<% end %>

<%= render :partial => 'pagecontents' %>
<p> hello<p>