<h1>PLACE FOR MAPPINGKS</h1>

<% if @polystr %>
  IT WAS FROG
  <%= content_tag :div, class: "include_information", data: {included: @polystr.coords} do %>
  <% end %>
  <%= content_tag :div, class: "exclude_information", data: {excluded: @polystr.exclusions} do %>
  <% end %>
<% end %>

<%= render :partial => 'pagecontents' %>
<p> hello<p>

<script>

  // loops to create Polygon objects from stored data. Stashed here for future reference.

   // shapes.forEach(function(shape) {
  //   console.log(shape)
  //   console.log('incShp')
  //   shapeCoords = []
  //   shape.forEach(function(coord) {
  //     shapeCoords.push(new google.maps.LatLng(coord[0],coord[1]))
  //   })

  //   // Construct the polygon.
  //   includedDraw = new google.maps.Polygon({
  //     paths: shapeCoords,
  //     editable: true,
  //     strokeWeight: 1,
  //     fillColor: '#ffff00',
  //     fillOpacity: 0.15
  //   });

  //   includedDraw.setMap(map);

  // })

  // exclusionShapes.forEach(function(exShape) {
  //   console.log(exShape)
  //   console.log('exclshp')
  //   exclShapeCoords = []
  //   exShape.forEach(function(coord) {
  //     exclShapeCoords.push(new google.maps.LatLng(coord[0],coord[1]))
  //   })

  //   // Construct the polygon.
  //   excludedDraw = new google.maps.Polygon({
  //     paths: exclShapeCoords,
  //     editable: true,
  //     strokeWeight: 2,
  //     fillColor: '#ff00ff',
  //     fillOpacity: 0.7
  //   });

  //   excludedDraw.setMap(map);

  // })
</script>